<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>886031261795-galpp8cj5kr3atufpous4rgdruql1m32.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.886031261795-galpp8cj5kr3atufpous4rgdruql1m32</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>886031261795-c8pv9233po6n5dkrvil580aspetihq1a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyANinoaRdQVbIlLyoTJgJeqObJeNPgkFDI</string>
	<key>GCM_SENDER_ID</key>
	<string>886031261795</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.knockknock-v1</string>
	<key>PROJECT_ID</key>
	<string>knockknock-1d805</string>
	<key>STORAGE_BUCKET</key>
	<string>knockknock-1d805.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:886031261795:ios:7cfd6fd831b08593775856</string>
</dict>
</plist>